/* FILEPATH: /Users/benjaminsmith/codespace/hatfield/projects/phac9442/geoanalytics/arctus/nextjs-ghpages/src/styles/tailwind.css */
/* BEGIN: be15d9bcejpp */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.layout {
  width: 100%;
  height: 100%;
}

.map {
  position: fixed;
  top: 70px;
  bottom: 40px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.navbar { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  border: 1px solid red; 
  z-index: 5000; 
}

.bottom-bar { 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  border: 1px solid blue; 
  z-index: 5000; 
}

/* .datapane {
  position: fixed;
  top: 70px;
  bottom: 40px;
  right: 0;
  width: 25%;
  height: calc(100% - 70px - 40px);
  background: rgba(9, 9, 9, 0.75);
  overflow-y: auto;
  z-index: 1000;
  border: 1px solid red;
} */

.date-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
}
  
.checkboxes {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px; /* Add margin-bottom for buffer */
}

.checkbox-label {
  margin-left: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #003080;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 250px;
  overflow: auto;
  margin: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.item-title {
  margin-left: 10px;
  font-size: 8px;
  font-weight: normal;
}

.collapse-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.datapane-accordian {
  position: fixed;
  top: 60px;
  margin: 10px;
  padding: 5px;
  right: 0;
  width: 25%;
  background: rgb(80, 133, 107);
  z-index: 1000;
}

.datapane {
  position: fixed;
  top: 70px;
  bottom: 40px;
  right: 0;
  width: 25%;
  height: calc(100% - 70px - 40px);
  background: rgba(9, 9, 9, 0.75);
  overflow-y: auto;
  z-index: 1000;
  border: 1px solid red;
}
